/* Your CSS goes here */
/* Reset */

html, content, body, div, h1, h2, h3, em, ul, li, section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  max-width: 1400px;
}

html {
  /*height: 1000px;*/
}

ul {
	list-style: none;
}

body {
	background: #eee;
	font: 16px/1.5 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #000;
}


#header{
	margin: 50px;
	padding: 10px 20px 10px 20px;
	
	background-color: #fff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	
	text-align: center;
	color: #2bf;
	font-size: 50px;
	
}

#content{
	/*position: relative;*/
	margin: 30px 50px;
	display: block;
  
  -moz-border-radius: 5px;

}

#file-input {
	font-size: 24px;
	padding: 15px 15px;
	border: 2px inset #ddd;
	width: 70%;
}


input[type="submit"], input[type="button"], button {
	font-size: 18px;
	color: #fff;
	background: #2bf;
	font-style: normal;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 10px;
  padding: 5px;
  border-radius: 5px;
}

.container {
  position: absolute;
	box-sizing: border-box;
	padding: 20px 15px 15px 15px;
	margin: 15px auto 15px auto;
	border: 1px solid #ddd;
	border-radius: 5px;
	background: #fff;
}

#tl {
	width: 1000px;
	height: 450px;
  
}

#search {
	left: 1080px;
  margin-right: 50px;
	width: 275px;
}

#results{
  top: 700px;
  width: 1000px;
  height: 200px;
  max-height: 350px;
  overflow-y: scroll;
}

.tl-placeholder {
  float: right;
	width: 100%;
	height: 90%;
	font-size: 14px;
	line-height: 1.2em;
}

::-webkit-input-placeholder {font-style: italic}
:-moz-placeholder {font-style: italic}
:-ms-input-placeholder {font-style: italic}


.zoom{
  float: right;
  margin-top: 20px;
  margin-right: 10px;
}

#formFilter {
	position: relative;
	float: left;
	left: 10px;
  display: none;
}

.dayOfWeek {
  display:inline;
  position:relative;
  float: top;
}

.dateInput {
  max-width: 30px;
}

.tl-Time {
  font-size: 20px;
  float: left;
  padding: 5px;
  display: inline;
}

th, td, tr { 
   font-size: 15px;
   padding: 5px;
   text-align: left;
   width: 120px;
}

th {
  font-size: 20px;
  font-weight: bold;
}

